yarn-error.log
node_modules
.env
build
*.local
*-debug.log
.runtimeconfig.json
FirebaseService.json
WebpageService.json
webhooks.sh

# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Claude
.claude/
